<nav class="breadcrumb">
    <a class="breadcrumb-item" routerLink="/admin/dashboard">Admin Dashboard</a>
</nav>
<div class="h1 text-center">
    Administrator Zone
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card text-center">
                <div class="card-header text-white bg-info fw-bold">
                    Posts
                </div>
                <div class="card-body">
                    <p class="card-text h3">Total Posts</p>
                    <div class="card-text h1">
                        5
                    </div>
                    <p class="text-center mt-3">
                        <a  routerLink="/admin/managepost" class="btn btn-info">Manage Posts</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-center">
                <div class="card-header text-white bg-success fw-bold">
                    Users
                </div>
                <div class="card-body">
                    <p class="card-text h3">Total Users</p>
                    <div class="card-text h1">
                        5
                    </div>
                    <p class="text-center mt-3">
                        <a routerLink="/admin/manageuser" class="btn btn-success">Manage Users</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>