<div class="row mt-3">
    <div class="col h1">
        All Friends
    </div>
</div>
<hr>
<div class="row mt-3">
    <div class="col-md-4">
        <div class="my-3">
            <div class="h3">Your Friends</div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">No friend now.</li>
                <li class="list-group-item">
                    <div class="row fw-bold h-4">
                        <div class="col-md-2">
                            <img src="" style="width:100%">
                        </div>
                        <div class="col-md-10">
                            <div class="row mt-1">
                                <div class="col">
                                    Phakpoom I.
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <a href="" class="badge bg-danger"
                                        onclick="return confirm('Are you sure to unfriend?')">
                                        Unfriend!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3">
            <div class="h3">Requests Sent</div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">No friend request sent now.</li>
                <li class="list-group-item">
                    <div class="row fw-bold h-4">
                        <div class="col-md-2">
                            <img src="" style="width:100%">
                        </div>
                        <div class="col-md-10">
                            <div class="row mt-1">
                                <div class="col">
                                    Phakpoom I.
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <a href="" class="badge bg-danger"
                                        onclick="return confirm('Are you sure to cancel this friend request?')">
                                        Cancel Request
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="my-3">
            <div class="h3">People You May Know</div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">No friend now.</li>
                <li class="list-group-item">
                    <div class="row fw-bold h-4">
                        <div class="col-md-2">
                            <img src="" style="width:100%">
                        </div>
                        <div class="col-md-10">
                            <div class="row mt-1">
                                <div class="col">
                                    Phakpoom I.
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <a href="" class="badge bg-primary">
                                        Add friend
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>