<nav class="breadcrumb">
    <a class="breadcrumb-item" routerLink="/admin/dashboard">Admin Dashboard</a>
    <a class="breadcrumb-item" routerLink="/admin/manageuser">Manage Users</a>
</nav>
<div class="h1 text-center">
    Manage User
</div>
<hr>
<div class="container mb-5">
    <h3><label for="" class="col-sm-12 col-form-label">Type</label></h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>E-Mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">
                    <div class="container text-center">
                        <h4>No Items</h4>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Phakpoom
                </td>
                <td>
                    Ittirattanakomon
                </td>
                <td>
                    beerbc16@gmail.com
                </td>
                <td style="width:250px;">
                    <a href='' class='btn btn-danger me-1'>Reject</a>
                    <a href='' class='btn btn-success'>Approve</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>